<!-- <div>{{ appState2$ | async | json }}}</div> -->

<div class="container-xl">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Manager Server</a>
            <li class="nav-item d-flex">
                <app-modal (serverEvent)="saveServer($event.server, $event.isLoading)"></app-modal>
                <button class="m-1 btn btn-success" type="button" (click)="filter(Status.ALL)">ALL</button>
                <button class="m-1 btn btn-success" type="button" (click)="filter(Status.SERVER_UP)">SERVER UP</button>
                <button class="m-1 btn btn-primary" type="button" (click)="filter(Status.SERVER_DOWN)">SERVER DOWN</button>
            </li>
        </div>
    </nav>
    <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
        <ng-container *ngIf="appState.error">
            <div class="alert alert-danger" role="alert">
                {{ appState.error }}
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
            <div class="m-1 d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">IP Address</th>
                        <th scope="col">Name</th>
                        <th scope="col">Memory</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ping</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody *ngFor="let server of appState.appData.data.servers; let i = index">
                    <td>
                        <img [src]="server.imageUrl" [alt]="server.name" width="40" height="40" />
                    </td>
                    <td>{{server.ipAddress}}</td>
                    <td>{{server.name}}</td>
                    <td>{{server.memory}}</td>
                    <td>{{server.type}}</td>
                    <td>
                        <span class="badge"
                            [ngClass]="server.status == Status.SERVER_UP ? ' badge-success' : ' badge-danger'">
                            {{server.status == Status.SERVER_UP ? 'SERVER UP' : 'SERVER DOWN'}}
                        </span>
                    </td>
                    <td>
                        <button *ngIf="(filterStatus$ | async) === '' || (filterStatus$ | async) !== server.ipAddress"
                            (click)="pingServer(server.ipAddress)" type="button" class="btn btn-primary">Ping</button>
                        <div *ngIf="(filterStatus$ | async) === server.ipAddress" class="d-flex justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" (click)="deleteServer(server.id)">Delete</button>
                    </td>
                </tbody>
            </table>
        </ng-container>
    </ng-container>
</div>
