<button class="m-1 btn btn-success" type="button" (click)="open(createModal)" data-bs-toggle="modal"
data-bs-target="#createModal">CREATE</button>

<ng-template #createModal let-modal>
    <div class="modal-content">
        <form #serverForm="ngForm" (ngSubmit)="updateServer(serverForm)">
            <div class="modal-header">
                <h4 class="modal-title"> Add Server</h4>
                <button type="button" class="close" (click)="modal.dismiss('Cross click')">Close</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>IP</label>
                    <input type="text" ngModel="121.121.121.121" name="ipAddress" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" ngModel="test" name="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <input type="text" ngModel="test" name="type" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Memory</label>
                    <input type="text" ngModel="16 GB" name="memory" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select ngModel="SERVER_DOWN" class="form-control" name="status" required>
                        <option *ngFor="let status of statuses" [value]="status">{{StatusStringMapping[status]}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal" (click)="modal.dismiss('Cancel')">CANCEL</button>
                <button *ngIf="(loading$ | async) === false" type="submit" class="btn btn-success">ADD</button>
                <span *ngIf="(loading$ | async) === true">Saving...</span>
            </div>
        </form>
    </div>
</ng-template>